.sfFormPage {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}


.sfButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sfLoginHeader {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-evenly;
  width: 100%;
}



.sfLoginForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-evenly;
  width: 100%;
}

.sfMessage {
  color: rgb(80, 80, 80);
  font-size: small;
  padding: 5px 5px 5px 5px;
 }

.sfErrorMessage {
  color: red;
  font-size: small;
  margin: 5px 5px 5px 5px;
}

.sfImage {
  width: 120px; 
  height: 120px; 
}

.sfImage img{
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}

.sfPageTitle {
  color: rgb(216, 115, 0);
  font-size: x-large;
  padding: 10px 10px 10px 10px;
 }


.sfAdminCard .ant-card-head-wrapper  {
  display: flex;
  flex-direction: row;
 	align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #0b044b;
  color: white;  
 }

 .sfWizardStep .ant-card-head-wrapper  {
  display: flex;
  flex-direction: row;
 	align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #0b044b;
  color: white;  
 }
 
 .sfWizardEnd .ant-card-head-wrapper  {
  display: flex;
  flex-direction: row;
 	align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #044b16;
  color: white;  
 }

 .sfWizardStart {
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 15px;
  width: 75%;
}

.sfWizardEnd{
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 15px;
  width: 75%;
}

.sfWizardStepQuestion {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  width: 75%;
}
.sfWizardStepChoices {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  width: 75%;
}

.sfWizardStepValidate {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  width: 75%;
}

.sfMultiChoiceGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 10px 10px 10px;
}

.sfMultiChoiceGroupRow {
  margin: 8px 8px 8px 8px;
}