.sfFormPage {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

input[type="text"],
input[type="password"] {
  height: 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 5px;
}

input[type="submit"] {
  margin-top: 5px;
  cursor: pointer;
  font-size: 15px;
  background: #2009a3;
  border: 1px solid #0b044b;
  color: #fff;
  padding: 10px 10px;
}

input[type="submit"]:hover {
  background: #08a3a8;
}

.sfButtonContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sfLogin {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-evenly;
  width: 100%;
}

.sfLoginForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-evenly;
  width: 100%;
}

.sfLoginHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-evenly;
  width: 100%;
}

.error {
  color: red;
  font-size: 18px;
  margin: 5px;
}


.sfPageTitle {
  color: rgb(216, 115, 0);
  font-size: x-large;
  padding: 10px 10px 10px 10px;
 }

 .sfMessage {
  color: rgb(80, 80, 80);
  font-size: small;
  padding: 5px 5px 5px 5px;
 }

.sfAdminCard .ant-card-head-wrapper  {
  display: flex;
  flex-direction: row;
 	align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #0b044b;
  color: white;  
 }

 .sfWizardStep .ant-card-head-wrapper  {
  display: flex;
  flex-direction: row;
 	align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #0b044b;
  color: white;  
 }
 
 .sfWizardEnd .ant-card-head-wrapper  {
  display: flex;
  flex-direction: row;
 	align-items: center;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 15px 5px 15px;
  background-color: #044b16;
  color: white;  
 }

 .sfWizardStart {
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 15px;
  width: 75%;
}

.sfWizardEnd{
  display: flex;
  flex-direction: column;
  padding: 5px 15px 5px 15px;
  width: 75%;
}

.sfWizardStepQuestion {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  width: 75%;
}
.sfWizardStepChoices {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  width: 75%;
}

.sfWizardStepValidate {
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  width: 75%;
}